email-validator>=2.3.0
flask-login>=0.6.3
flask>=3.1.2
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.10
oauthlib>=3.3.1
pyjwt>=2.10.1
flask-dance>=7.1.0
sqlalchemy>=2.0.43
werkzeug>=3.1.3
